<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://fakeimg.pl/1280x720/28b8b6/1d0670?text=Django" alt="Temporário">
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user"></i>
            Fabri Junin
        </span>
        <span class="recipe-author-item">
            <i class="fas fa-calendar-alt"></i>
            22/01/2025 às 6:07 p.m
        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manha">
                <i class="fas fa-layer-group"></i>
                <span>Café da Manhã</span>
            </a>
        </span>
    </div>
    
    <div class="recipe-content">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore, iusto harum dolore dicta libero atque, eaque assumenda aspernatur esse eum commodi odio, facere sint tenetur error distinctio maxime consequuntur qui.</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparo</h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
        </div>
        <div class="recipe-meta recipe-servings">
            <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Porções</h3>
            <div class="recipe-meta-text">
                0 Porções
            </div>
        </div>
    </div>

    <footer class="recipe-footer">
        <a class="recipe-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
